.line {
  display: block;
  width: 25px;
  height: 1.5px;
  background-color: #F85C70;
}

.title {
  font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
}


.text-danger {
  color: #F85C70 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #f51330 !important;
}

/* container */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/* row */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


/* section */
.section {
  padding: 80px 0;
}

.section.bg-custom-gray {
  background: rgba(242, 244, 247, 0.15);
}

/* cards */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0 - 1px) calc(0 - 1px) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

/* form */
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* icons */
.icon-md {
  font-size: 22px;
}

/* margin */
mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

/* padding */
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

/* inline */
.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}


/* footer */
.footer {
  background: #17263C;
}