.social-icons {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    max-width: 180px;
}

.social-icons .social-link {
    font-size: 18px;
}

.social-icons .social-link:hover {
    color: #F85C70;
}

.header {
    position: relative;
    height: 80vh;
    min-height: 600px;
    background-color: gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.header .container {
    position: relative;
    height: 100%;
}

.header .header-content {
    width: 100%;
    position: absolute;
    /* left: 0; */
    top: 55%;
    transform: translateY(-50%);
    color: #fff;
}

.header .header-content .header-welcome {
    font-weight: 200;
    font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.header .header-content .header-name {
    font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    line-height: .7;
    margin-bottom: 25px;
    color: inherit;
}

.header .header-content .header-intro {
    letter-spacing: 5px;
    font-weight: 500;
    font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 40px;
}


/* text styles */
.text-light {
    color: #f8f9fa !important;
  }
  
  a.text-light:hover, a.text-light:focus {
    color: #cbd3da !important;
  }