
.about-section {
    border-bottom: 1px solid #dee2e6;
}

.about-section .about-card {
    padding: 60px;
    border-right: 1px solid #dee2e6;
}

.about-section .about-card:last-child {
    border-right: none;
}
