.navbar {
    box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
}

.navbar .navbar-nav:first-child .nav-item:first-child .nav-link {
    padding-left: 0;
}

.navbar .navbar-nav:last-child .nav-item:last-child .nav-link {
    padding-right: 0;
}

.navbar .nav-link {
    font-weight: bold;
    font-family: "Dosis", "Open Sans", sans-serif;
}

.navbar .nav-link.active {
    color: #F85C70 !important;
}


.navbar .brand {
    text-align: center;
}

.navbar .brand .brand-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid white;
    transition: .5s !important;
    z-index: 2;
    box-shadow: 0 5px 1px rgba(128, 128, 128, 0.13);
    width: 170px;
    border-radius: 80%;
}

.navbar .brand .brand-txt {
    position: relative;
    bottom: -20px;
    opacity: 0;
    transition: 1s;
    z-index: 1;
  }
  
  .navbar .brand .brand-txt .brand-subtitle {
    font-size: 13px;
    color: #888;
  }
  
  @media (max-width: 991.98px) {
    .navbar .brand {
      display: none;
    }
  }
  
  .navbar.affix .brand-txt {
    bottom: 0;
    opacity: 1;
  }
  
  .navbar.affix .brand-img {
    top: -10px;
    opacity: 0;
  }